.rootParent {
  width: 100%;
  margin: 0;

  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 0;
}
.root {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.listElement {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.linkElement {
  box-sizing: border-box;
  font-size: 16px;
  padding: 8px 12px;
  // text-align: center;
  line-height: 1;
  margin: 0;
  background-color: #fff;
  border-color: #fe5f1e;
  border-radius: 99px;
  border: transparent 1px solid;
  color: #fe5f1e;
  transition: all 0.3s ease-in;
  border: rgba(#fe5f1e, 0.7) 1px solid;
  &:hover {
    transition: all 0.3s ease-in;
  }
  &_active {
    color: #fff;
    background-color: #fe5f1e;
  }
}
.nextButton,
.prevButton {
  align-self: center;
  color: #fe5f1e;
  font-weight: 700;
  cursor: pointer;

  // border-radius: 5px;
  // border: transparent 1px solid;

  &:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in;
  }
}
// .prevButton {
//   align-self: center;
//   color: #fe5f1e;
//   font-weight: 700;
//   cursor: pointer;
// }
// button {
//   padding: 0;
//   margin: 0;
// }
