@import "../variables";

.categories {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      // margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @media screen and (max-width: 645px) {
        font-size: 13px;
        padding: 10px 20px;
      }
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
